

<body class="body">
<div class="container">
    <div class="titulo">
        <h1 class="nombre">{{user.name}}</h1>
        <button class="logoutButton" (click)="logOut()">Cerrar sesión</button>
        <h3 class="editar" routerLink="/anuncios"> Puedes ver y editar tu perfil</h3>
    </div>
    
    <div class="img"><img class="profilePic" src="https://mario.nintendo.com/static/86bd56fed456e9b642100519880b6a86/b3853/mario.png" alt="Nombre"></div>
</div>



<div class="container2"> 
    <div class="guardian"><h3 routerLink="/anuncio/registro">Conviértete en guardián</h3> 
    <p routerLink="/anuncio/registro">Puedes ganar 400€ de media al mes</p></div>
    <div class="invitar"><h3>Invita a tus amigos</h3>
    <p>Y podrás ganar descuentos para ti</p></div>
    <div class="descuentos"><h3>Créditos y descuentos</h3></div>
    <div class="publicar"><h3 routerLink="/anuncio/registro">Publica tu anuncio o experiencia</h3></div>
    <div class="configuracion"><h3>Configuración</h3></div>
    <div class="ayuda"><h3> Ayuda</h3></div>

</div>


</body>



