

<body>

  <div id="map"></div>

<div class="isloading">
  @if (isLoading) {
  <div>
    <div class="loading-container">
      <div class="loader"></div>
    </div>
  </div>

  } @if (!isLoading) {
  <div class="selectedLockerDiv">
    <h1 class="selectedLockerText">Locker seleccionado</h1>
    <div class="separacion">
      <h3 class="locker_title"><b>Nombre: </b>{{ selectedLockerName }}</h3>
    </div>
    <div class="separacion">
      <h3 class="locker_title">
        <b>Capacidad de la propiedad: </b>{{ selectedLockerCapacity }}
      </h3>
    </div>
    <div class="separacion">
      <h3 class="locker_title">
        <b>Tipo de propiedad: </b>{{ selectedLockerPropertySpace }}
      </h3>
    </div>
    <div class="separacion">
      <h3 class="locker_title">
        <b>Tipo de espacio: </b>{{ selectedPropertyTipe }}
      </h3>
    </div>

    @if (selectedLockerAvi === true) {
  <div class="separacion">
    <h3 class="locker_title">
      <b>Disponibilidad: </b>
      <span class="tick">✔</span>
    </h3>
  </div>}
  @else { <div class="separacion">
    <h3 class="locker_title">
      <b>Disponibilidad: </b>
      <span>❌</span>
    </h3>
  </div>
  }
    <div class="separacionImg">
      <h3><b>Fotos del espacio: </b></h3>
      <img src="{{ selectedLockerImg }}" alt="{{ selectedLockerName }}" />
    </div>

    <div class="divBtn">
      <button class="reservaBtn" routerLink="/reserva">Reservar</button>
    </div>
  </div>
  }
</div>
</body>
