<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de Reserva</title>
    <link rel="stylesheet" href="reserva-detalle.component.css">
</head>
<body>
    <div class="container">
        <h1>Detalles de tu reserva</h1>
        <div>
            <div class="separacion"><p><b>Llegada: </b> <span id="arrivalDate"></span></p></div>
            <div class="separacion"><p><b>Salida:</b> <span id="departureDate"></span></p></div>
            <div class="separacion"><p><b>Número de equipaje: </b><span id="luggageCount"></span></p></div>
            <div class="separacion"> <p><b>Precio por día: </b><span id="pricePerDay"></span>€</p></div>
            <div class="separacion"><p><b>Gastos de gestión:</b>2€</p></div>
            <div class="separacion"><p><b>Total:</b> <span id="totalAmount"></span>€</p></div>
            
            
            
           
            
            
        </div>
        <button (click)="reservar()">Reservar</button>

    </div>
</body>
</html>
